body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100;
}
.up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(249, 228, 202);
}
.name-site {
    text-align: left;
    color: rgb(17, 36, 85);
    size: 10px;   
}
.button-group {
    display: flex;
    margin-left: 10px;   
}
#Sign_in {
    background-color: transparent;
    color: rgb(17, 36, 85);
    border: 2px solid rgb(17, 36, 85);
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 7px;
    margin-right: 10px;
}
#Sign_up {
    background-color: transparent;
    color: rgb(17, 36, 85);
    border: 2px solid rgb(17, 36, 85);
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 7px;
}
.block {
    display: flex;
    align-items: flex-start;

    flex: 1;
    height: 100vh;
    overflow: hidden;
    color: rgb(249, 228, 202);
    background-color: rgb(17, 36, 85);
}
.content {
    padding: 20px;
    overflow: hidden;
}
#mahachkala {
  float: right !important;
  width: 500px !important;   /* Ширина прямоугольника */
  height: 250px !important;  /* Высота прямоугольника */
  object-fit: cover !important; /* Чтобы картинка не сплющилась, а обрезалась по краям */
  margin-left: 20px !important;
  margin-bottom: 10px !important;
}
.sity {
    border-right: 2px solid rgb(249, 228, 202);
    padding: 0 10px 30px 30px;
    margin-left: 10px;
}
.name {
    margin-left: 10px;
}
.text {
    margin-left: 20px;
    margin-right: 30px;
}
