body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: left;
    color: rgb(0, 255, 187);
    size: 10px;
       
}
#Sign_in {
    background-color: transparent;
    color: rgb(21, 199, 244);
    border: 1px solid rgb(21, 199, 244);
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 7px;
    margin-right: 10px;
}
#Sign_up {
    background-color: transparent;
    color: rgb(211, 244, 21);
    border: 1px solid rgb(211, 244, 21);
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 7px;
}
.up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.button-group {
    display: flex;
    margin-left: 10px;
    
}